# Built application files
*.apk
*.aar
*.aab

# Gradle files
.gradle/
build/
app/build/
*/build/

# Local configuration file (sdk path, etc)
local.properties
.env
.env.local

# Android Studio & IntelliJ IDEA
*.iml
.idea/
.kotlin/
/captures

# C++ NDK & CMake
.externalNativeBuild/
.cxx/
app/.cxx/
*/.cxx/
CMakeCache.txt
CMakeFiles/

# Keystores & Signing
debug.keystore
debug.keystore.base64
*.jks
*.keystore

# OS & Temp
.DS_Store
Thumbs.db
*.log
*.tmp

